<table class="u-full-width">
    <thead>
    <tr>
        <th class="width-35px">#</th>
        <th>TODO</th>
        <th class="width-35px">Done</th>
    </tr>
    </thead>
    <tbody>
    <tbody>
    <tr *ngFor="let item of todoItems let index = index;">
        <td>{{ index + 1 }}</td>
        <td (click)="displayItem(item)" class="cursor-pointer">{{ item.title }}</td>
        <td>
            <input type="checkbox" class="cursor-pointer" [(ngModel)]="item.done" (click)="updateItem(item)">
        </td>
    </tr>
    </tbody>
</table>
<table class="u-full-width">
    <thead>
    <tr>
        <th class="width-35px">#</th>
        <th>DONE</th>
        <th class="width-35px">Done</th>
    </tr>
    </thead>
    <tbody>
    <tbody>
    <tr *ngFor="let item of doneItems let index = index;">
        <td>{{ index + 1 }}</td>
        <td (click)="displayItem(item)" class="strikethrough cursor-pointer">{{ item.title }}</td>
        <td>
            <input type="checkbox" class="cursor-pointer" [(ngModel)]="item.done" (click)="updateItem(item)">
        </td>
    </tr>
    </tbody>
</table>

<div *ngIf="errorMessage" class="error-msg">{{errorMessage}}</div>
<div *ngIf="successMessage" class="success-msg">{{successMessage}}</div>