.width-35px {
  width: 35px;
}

.strikethrough {
  text-decoration: line-through;
}

.error-msg {
  text-align: center;
  width: 100%;
  border: 1px solid indianred;
  padding: 5px;
  background-color: rgba(205, 92, 92,.1);
}

.success-msg {
  text-align: center;
  width: 100%;
  border: 1px solid darkseagreen;
  padding: 5px;
  background-color: rgba(143, 188, 143,.1);
}